#neliofp-list-of-feat-posts {
	padding:0em 0em 5em 3em;
	padding-left:1em;
}

#neliofp-list-of-feat-posts {
	margin:0px;
}

#neliofp-list-of-feat-posts img {
	filter: alpha(opacity=100);
}

#neliofp-list-of-feat-posts img.neliofp-no-thumbnail {
	background:url( '../images/feat-image-placeholder-hover.png' );
}

#neliofp-list-of-feat-posts .result-content {
    min-height: 55px;
    position: relative;
		padding-bottom:1em;
		margin-bottom:1em;
		border-bottom:1px solid #CCCCCC;
		width: 100%;
		max-width: 600px;
}

#neliofp-list-of-feat-posts .result-content:last-child {
	border-bottom: none;
}

#neliofp-list-of-feat-posts .result-image {
    display: inline-block;
    position: absolute;
    top: 3px;
    left: 2em;
}

#neliofp-list-of-feat-posts .result-item {
    display: inline-block;
    position: absolute;
    width: 100%;
    padding-left: 60px;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing: border-box;
    top: 3px;
    left: 2em;
}

#neliofp-list-of-feat-posts .result-image img {
    width: 50px;
    height: 50px;
    vertical-align:middle;
}

#neliofp-list-of-feat-posts .result-item .result-title {
    display:block;
}

#neliofp-list-of-feat-posts .result-item .result-author {
    display:inline-block;
    color: #a9a9a9;
    font-size:85%;
}

#neliofp-list-of-feat-posts .row-actions {
	visibility: visible;
}

#neliofp-list-of-feat-posts .row-actions .delete a {
	text-decoration:none;
}

#neliofp-list-of-feat-posts .select2-result:nth-child(odd) {
    background-color: #f9f9f9;
}

#neliofp-list-of-feat-posts .select2-highlighted {
    background: rgb(0, 116, 162) !important;
    color: #fff;
}

