.widget_neliofp_widget article {
	margin-top: 0px;
	margin-bottom: 0px;
}

.widget_neliofp_widget article {
	padding-bottom: 1em;
}

.widget_neliofp_widget article .featured-image {
	float: left;
	width: 64px;
}

.widget_neliofp_widget article .featured-image a {
	background-image: url( 'noimage.png' );
	background-size: 64px 64px;
}

.widget_neliofp_widget article .featured-image a,
.widget_neliofp_widget article .featured-image a img {
	margin: 0px;
	padding: 0px;
	width: 64px;
	height: 64px;
}

.widget_neliofp_widget article .entry-title {
	font-size: 80%;
}

/* WHEN USING FEATURED IMAGES */
.widget_neliofp_widget article .featured-image.alignleft {
	margin: 0px;
	padding: 0px;
}

.widget_neliofp_widget article.includes-feat-image {
	min-height: 70px;
}

.widget_neliofp_widget article.includes-feat-image .entry-title {
	padding-left: 70px;
}

